---
---
.lul-navbar-toggler {
  font-variant: small-caps;
  letter-spacing: 0.05rem;
}

.lul-main {
  margin-top: 3em;
}

.lul-submenu {
  margin-top: 5em;

  .active {
    background-color: white !important;
    color: black !important;
    border: 1px solid lightgrey !important;
  }
}

.lul-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  background-color: #f7f7f7;
  text-align: left;

  a {
    font-weight: 500;
    color: #55595c;
  }

 p {
   margin-bottom: 0;
 }
}

.lul-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;

    &+li {
      margin-left: 1rem
    }
  }
}

.lul-row-spacing {
  margin-top: 30px;
}

.lul-logo {
  height: 75px;
}

.lul-hero {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  height: 180px;

  h1 {
    display: inline;
    background-color: rgba(248,237,49, 0.7);
    color: #4551A3;
    line-height: 1.2em;
  }
}

@media (max-width: 543px) {
  body {
    font-size: 14px
  }

  .lul-hero {
    .lul-hero-column {
      margin-left: 60%;
      margin-top: 40px;

      h1 {
        font-size: 1.5em;
        line-height: 1.2em;
      }
    }
  }
}

@media (min-width: 544px) { 
  body {
    font-size: 16px
  }

  .lul-hero {
    height: 306px;

    .lul-hero-column {
      margin-left: 63%;
      margin-top: 60px;
    }
  }
}

@media (min-width: 768px) { 
  body {
    font-size: 18px
  }

  .lul-hero {
    height: 432px;

    .lul-hero-column {
      margin-top: 100px;
    }

    h1 {
      font-size: 3em;
    }
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px
  }

  .lul-hero {
    height: 558px;

    h1 {
      font-size: 4em;
    }
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }

  .lul-hero {
    height: 675px;

    .lul-hero-column {
      margin-top: 180px;
      margin-left: 70%;
    }
  }
}
