---
---
$lul-blue: #4551A3;
$lul-yellow: #F8ED31;

blockquote {
  font-size: 1em;
  font-style: italic;
  border-left: 0.25em solid #4551A3;
  padding-left: 0.75em;
}

.lul-navbar-toggler {
  font-variant: small-caps;
  letter-spacing: 0.05rem;
}

.lul-nav .navbar-nav {
  li a.nav-link {
    color: #666;
    font-weight: bold;
  }
}

.lul-main {
  margin-top: 3em;
}

.lul-submenu {
  margin-top: 5em;

  .active {
    background-color: white !important;
    color: black !important;
    border: 1px solid lightgrey !important;
  }
}

.lul-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  background-color: #f7f7f7;
  text-align: left;

  a {
    font-weight: 500;
    color: #55595c;
  }

 p {
   margin-bottom: 0;
 }
}

.lul-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;

    &+li {
      margin-left: 1rem
    }
  }
}

.lul-row-spacing {
  margin-top: 90px;
}

.lul-donate {
  background-color: $lul-blue;
  border-color: $lul-blue;
  color: $lul-yellow;
}

.lul-volunteer {
  background-color: $lul-yellow;
  border-color: $lul-yellow;
  color: $lul-blue;
  font-weight: bold;
}

.lul-hero {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  height: 180px;
}

@media (max-width: 543px) {
  body {
    font-size: 14px
  }

  .lul-logo {
    height: 60px;
  }

  .lul-hero {
    .lul-hero-column {
      margin-left: 60%;
      margin-top: 40px;
    }
  }
}

@media (min-width: 544px) { 
  body {
    font-size: 16px
  }

  .lul-logo {
    height: 70px;
  }

  .lul-hero {
    height: 306px;

    .lul-hero-column {
      margin-left: 63%;
      margin-top: 60px;
    }
  }
}

@media (min-width: 768px) { 
  body {
    font-size: 18px
  }

  .lul-logo {
    height: 80px;
  }

  .lul-hero {
    height: 432px;

    .lul-hero-column {
      margin-top: 100px;
    }
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px
  }

  .lul-logo {
    height: 90px;
  }

  .lul-hero {
    height: 558px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }

  .lul-logo {
    height: 100px;
  }

  .lul-hero {
    height: 675px;

    .lul-hero-column {
      margin-top: 180px;
      margin-left: 70%;
    }
  }
}

.lul-parent {
  position: relative;
  width: 370px;
  height: 300px;
  margin: 70px;
}

.lul-parent:after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-transform: rotate(33deg);
  -moz-transform: rotate(33deg);
  -o-transform: rotate(33deg);
  -ms-transform: rotate(33deg);
  transform: rotate(33deg);
  background-color: #4551A3;
  z-index: 1;
}

.lul-child {
  position: absolute;
  padding: 50px 20%;
  letter-spacing: 2px;
  color: #F8ED31;
  font-size: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  z-index: 2;
}

