<footer class="lul-footer text-muted text-xs-center" role="contentinfo">
  <div class="container">
    <ul class="lul-footer-links">
      {% for item in site.data.navigation %}
        {% assign item_page = site.pages | where:"id", item.target | first %}
        <li>
          <a href="{{item_page.url}}">{{item.text}}</a>
        </li>
      {% endfor %}
    </ul>
    <p>Light Up Learning is a charity registered in Scotland no SC045701.</p>
    <p>10/3 Forres Street, Edinburgh, EH3 5BJ • 0131 226 5524</p>
  </div>
</footer>
