<header>
  <nav class="navbar navbar-light bg-faded lul-nav" style="background-color: white;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="lul-logo" src="/images/logo.png" alt="{{ site.title }}" />
      </a>
      <button class="navbar-toggler hidden-md-up lul-navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" style="margin-top: 0.6em;">
    menu
  </button>
      <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">

        <ul class="nav navbar-nav pull-xs-right" style="margin-top: 16px;">
          {% for item in site.data.navigation %}
            {% assign item_page = site.pages | where:"id", item.target | first %}
            <li class="nav-item {% if page.section == item.section %}active{% endif %}">
              <a class="nav-link" href="{{item_page.url}}">{{item.text}} {% if page.section == item.section %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
