<div class="container">
  <div class="row">
    <div class="col-md-9">
      <img class="img-fluid" src="http://placehold.it/2000x700">
    </div>
    <div class="col-md-3 text-xs-center">
      <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <p><a class="btn btn-primary" href="/contribute/">Donate</a></p>
      </div>
      <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <p><a class="btn btn-secondary" href="/contribute/volunteer/">Volunteer</a></p>
      </div>
    </div>
  </div>
</div>
