<div class="lul-hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 offset-xs-9 lul-hero-column">
        <div class="lul-parent">
          <h1 class="lul-child">
            Learning that changes lives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row lul-row-spacing">
    <div class="col-md-6 text-xs-center">
      <p><a class="btn btn-primary btn-lg lul-donate" href="/contribute/">Donate</a></p>
    </div>
    <div class="col-md-6 text-xs-center">
      <p><a class="btn btn-secondary btn-lg lul-volunteer" href="/contribute/volunteer/">Volunteer</a></p>
    </div>
    </div>
  </div>
</div>


