<div class="row">
  <img class="img-fluid col-sm-7 col-lg-7" src="//cdn.shopify.com/s/files/1/0066/0052/t/34/assets/homepage_banner.jpg?7275308771642351361">
  <div class="col-sm-5 col-lg-5 text-center middle-outer">
    <div class="middle middle-7">
      <div class="middle-inner">
        <div id="banner_text">
          <a href="/collections" title="Select your ideal set"><h2 style="font-size: 3.5em; font-weight: bold; color: #412112; margin-top: 40%"><div id="homepage_line_1">Learning<br></div>
<div id="homepage_line_2">&nbsp; that<br></div>
<div id="homepage_line_3">changes</div>
<div id="homepage_line_4">&nbsp; &nbsp; lives.</div></h2></a>
          <p class="lead"><a href="/collections" title="Select your ideal set"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
